<!-- booking/templates/booking/movie_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Films - Movie Booking</title>
</head>
<body>
    <div class="container">
    <h1>Upcoming showings!</h1>
    <a href="{% url 'dashboard' %}">Go to  your Dashboard</a>
    <ul>
        {% for film in films %}
            <li>
                <a href="{% url 'book_seat' film.id %}">{{ film.title }}</a> - {{ film.genre }} - {{ film.showing_time }}
            </li>
        {% endfor %}
    </ul>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>

